<a href="https://colab.research.google.com/github/OmarFares20/OmarFares/blob/main/Cleaned%20Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!git clone https://github.com/OmarFares20/OmarFares
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', 120)

Cloning into 'OmarFares'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (3/3), 77.28 KiB | 2.15 MiB/s, done.

In [7]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.12/dist-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.12/dist-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv('OmarFares/Nike Dataset.csv')
print("Dataset Info:")
print(df.info())
print("\nFirst 5 rows:")
print(df.head())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9360 entries, 0 to 9359
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Date    9360 non-null   object
 1   Product         9360 non-null   object
 2   Region          9360 non-null   object
 3   Retailer        9360 non-null   object
 4   Sales Method    9360 non-null   object
 5   State           9360 non-null   object
 6   Price per Unit  9360 non-null   int64
 7   Total Sales     9360 non-null   int64
 8   Units Sold      9360 non-null   int64
dtypes: int64(3), object(6)
memory usage: 658.3+ KB
None

First 5 rows:
  Invoice Date                    Product     Region     Retailer Sales Method     State  Price per Unit  Total Sales  \
0   01/01/2020      Men's Street Footwear  Northeast  Foot Locker     In-store  New York              50         6000
1   02/01/2020    Men's Athletic Footwear  Northeast  Foot Locker     In-store  New York              50         5000
2   03/01/2020    Women's Street Footwear  Northeast  Foot Locker     In-store  New York              40         4000
3   04/01/2020  Women's Athletic Footwear  Northeast  Foot Locker     In-store  New York              45         3825
4   05/01/2020              Men's Apparel  Northeast  Foot Locker     In-store  New York              60         5400

   Units Sold
0         120
1         100
2         100
3          85
4          90

In [10]:
import pandas as pd
df = pd.read_csv("Nike Dataset.csv")

print("=== Initial Data Info ===")
print(df.info())
print("\n=== First few rows ===")
print(df.head())
print("\n=== Data Shape ===")
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

initial_rows = df.shape[0]
df = df.drop_duplicates()
duplicates_removed = initial_rows - df.shape[0]
print(f"\nRemoved {duplicates_removed} duplicate rows")

print("\n=== Missing Values Summary ===")
print(df.isnull().sum())

df["Invoice Date"] = pd.to_datetime(df["Invoice Date"], format="%d/%m/%Y", errors="coerce")
print(f"\nDate conversion - Number of invalid dates: {df['Invoice Date'].isnull().sum()}")

numeric_cols = ["Price per Unit", "Total Sales", "Units Sold"]
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors="coerce")

print("\n=== Negative Values Check ===")
for col in numeric_cols:
    neg_count = (df[col] < 0).sum()
    print(f"{col}: {neg_count} negative values")
    if neg_count > 0:

        df = df[df[col] >= 0]

print("\n=== Data Quality Checks ===")

df["Calculated Units"] = (df["Total Sales"] / df["Price per Unit"]).round(0)
mismatch = (df["Units Sold"] != df["Calculated Units"]).sum()
print(f"Units Sold mismatch with calculation: {mismatch} rows")

df = df.drop(columns=["Calculated Units"])

price_stats = df["Price per Unit"].describe()
print(f"\nPrice per Unit stats:\nMin: ${price_stats['min']:.2f}, Max: ${price_stats['max']:.2f}, Mean: ${price_stats['mean']:.2f}")

categorical_cols = ["Product", "Region", "Retailer", "Sales Method", "State"]
for col in categorical_cols:
    df[col] = df[col].str.strip().str.title()
    print(f"{col}: {df[col].nunique()} unique values")

units_stats = df["Units Sold"].describe()
Q1 = units_stats["25%"]
Q3 = units_stats["75%"]
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df["Units Sold"] < lower_bound) | (df["Units Sold"] > upper_bound)]
print(f"\nUnits Sold outliers (IQR method): {len(outliers)} rows")

df["Year"] = df["Invoice Date"].dt.year
df["Month"] = df["Invoice Date"].dt.month
df["Quarter"] = df["Invoice Date"].dt.quarter
df["Day_of_Week"] = df["Invoice Date"].dt.day_name()

df["Sales_Check_Flag"] = abs(df["Total Sales"] - (df["Price per Unit"] * df["Units Sold"])) > 0.01

print("\n=== Final Data Quality Summary ===")
print(f"Total rows after cleaning: {df.shape[0]}")
print(f"Total columns after cleaning: {df.shape[1]}")
print(f"Date range: {df['Invoice Date'].min()} to {df['Invoice Date'].max()}")
print(f"Total Sales sum: ${df['Total Sales'].sum():,.2f}")
print(f"Total Units Sold: {df['Units Sold'].sum():,}")

print("\n=== Summary by Region ===")
region_summary = df.groupby("Region").agg({
    "Total Sales": "sum",
    "Units Sold": "sum",
    "Invoice Date": "nunique"
}).round(2)
region_summary.columns = ["Total_Sales", "Total_Units", "Transaction_Days"]
print(region_summary)

print("\n=== Top 5 Retailers by Sales ===")
retailer_summary = df.groupby("Retailer").agg({
    "Total Sales": "sum",
    "Units Sold": "sum"
}).round(2).sort_values("Total Sales", ascending=False).head()
print(retailer_summary)

df.to_csv("Cleaned_Nike_Dataset.csv", index=False)
print("\n=== Cleaning Complete ===")
print(f"Cleaned data saved to 'Cleaned_Nike_Dataset.csv'")

=== Initial Data Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9360 entries, 0 to 9359
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Date    9360 non-null   object
 1   Product         9360 non-null   object
 2   Region          9360 non-null   object
 3   Retailer        9360 non-null   object
 4   Sales Method    9360 non-null   object
 5   State           9360 non-null   object
 6   Price per Unit  9360 non-null   int64
 7   Total Sales     9360 non-null   int64
 8   Units Sold      9360 non-null   int64
dtypes: int64(3), object(6)
memory usage: 658.3+ KB
None

=== First few rows ===
  Invoice Date                    Product     Region     Retailer Sales Method     State  Price per Unit  Total Sales  \
0   01/01/2020      Men's Street Footwear  Northeast  Foot Locker     In-store  New York              50         6000
1   02/01/2020    Men's Athletic Footwear  Northeast  Foot Locker     In-store  New York              50         5000
2   03/01/2020    Women's Street Footwear  Northeast  Foot Locker     In-store  New York              40         4000
3   04/01/2020  Women's Athletic Footwear  Northeast  Foot Locker     In-store  New York              45         3825
4   05/01/2020              Men's Apparel  Northeast  Foot Locker     In-store  New York              60         5400

   Units Sold
0         120
1         100
2         100
3          85
4          90

=== Data Shape ===
Rows: 9360, Columns: 9

Removed 0 duplicate rows

=== Missing Values Summary ===
Invoice Date      0
Product           0
Region            0
Retailer          0
Sales Method      0
State             0
Price per Unit    0
Total Sales       0
Units Sold        0
dtype: int64

Date conversion - Number of invalid dates: 0

=== Negative Values Check ===
Price per Unit: 0 negative values
Total Sales: 0 negative values
Units Sold: 0 negative values

=== Data Quality Checks ===
Units Sold mismatch with calculation: 6076 rows

Price per Unit stats:
Min: $7.00, Max: $110.00, Mean: $44.74
Product: 6 unique values
Region: 5 unique values
Retailer: 6 unique values
Sales Method: 3 unique values
State: 48 unique values

Units Sold outliers (IQR method): 504 rows

=== Final Data Quality Summary ===
Total rows after cleaning: 9360
Total columns after cleaning: 14
Date range: 2020-01-01 00:00:00 to 2021-12-31 00:00:00
Total Sales sum: $8,629,275.00
Total Units Sold: 241,984

=== Summary by Region ===
           Total_Sales  Total_Units  Transaction_Days
Region
Midwest        1358145        39405               281
Northeast      1863429        50435               224
South          1446722        49439               243
Southeast      1631786        40873               129
West           2329193        61832               404

=== Top 5 Retailers by Sales ===
               Total Sales  Units Sold
Retailer
West Gear          2429793       62831
Foot Locker        2067310       58288
Sports Direct      1789845       55293
Kohl'S             1021226       28876
Walmart             677702       19449

=== Cleaning Complete ===
Cleaned data saved to 'Cleaned_Nike_Dataset.csv'